.card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    border-radius: 15px;
    width: 100%;
    max-width: 600px;
    height: 50px;
    background-color: #f0f0f0;
    /* box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1); */
}

.card-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.card-image {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #ccc;
    object-fit: cover;
    margin-right: 10px;
}

.card-content-name {
    display: flex;
    width: 80px;
}

.card-content-demographics  {
    display: flex;
    width: 100px;
}

.wellness-index {
    padding-right: 20px;
}